html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Helvetica', sans-serif;
}
*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 35px;
    background-color: rgb(238, 238, 238);
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font-size: 1.5em;
}
main, aside, header nav, header nav li, .site-title {
    display: inline-block;
}
main {
    width: 60%;
}
aside {
    width: 25%;
    vertical-align: top;
    margin-left: 60px;
    margin-top: 10px;

}
nav a {
    color: rgb(0, 102, 0) ;
    text-decoration: none;
}
.site-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
}

header {
    border-bottom: 3px solid black;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

img {
    border: 3px solid black;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px -1px 23px 0px rgba(0, 0, 0, 0.25);
}

img.float-left {
    margin-right: 20px;
    margin-bottom: 20px;
}

blockquote {
    margin: 0 20px;
    float: right;
    width: 30%;
    font-family: Georgia, serif;
    color: rgb(173, 168, 168);
    border-left: 3px solid rgb(173, 168, 168);
    padding-left: 25px;
}

blockquote>p.author-name {
    margin: 10px;
    margin-left: auto;
    width: 25%;
}
header nav {
    margin-left: 65%;
}
header li {
    list-style: none;
}
header li a {
    font-size: 16px;
}
